* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-family: arial, sans-serif;
}

.header {
    /*    height: 20vw;*/
    text-align: center;
}

.rctg {
    display: inline-block;
    width: 20vw;
    height: 20vw;
    margin: 15px;
}

.rctg:nth-child(1) {
    background-color: coral;
}

.rctg:nth-child(2) {
    background-color: darkseagreen;
}

.rctg:nth-child(3) {
    background-color: darkred;
}

.rctg:nth-child(4) {
    background-color: dodgerblue;
}

.navigation {
    background-color: #555;

}

ul {
    list-style: none;


}

nav ul::after {
    content: '';
    display: block;
    clear: both;
}

li {
    display: inline-block;
    float: left;
    font-size: 24px;
    margin: 0 40px;
}

.navigation li::after {
    content: '';
    display: block;
    clear: both;
}

a {
    display: inline-block;
    width: 100px;
    border: solid 2px #DDD;
    text-decoration: none;
    color: #DDD;
    text-align: center;
    background-color: #333;
}

main {
    width: 70%;
    margin-top: 30px;
    float: left;
}

article {
    width: 85%;
    margin: 0 auto 35px;
}

article > div {
    margin-top: 15px;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

img {
    width: 15vw;
    float: left;
    padding-right: 15px;
}

p {
    text-align: justify;

}

p::after {
    content: '';
    display: block;
    clear: both;
}

aside {
    float: left;
    background-color: #DDD;
    width: 25%;
    height: 120px;
    margin-top: 30px;
}

footer {
    clear: both;
}
