*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.board{
    width: 30vw;
    height: 30vw;
    border: 10px solid black;
    font-size: 0;
    margin-left: calc(50% - 15vw);
    margin-top: calc(50vh - 15vw);
}
 span{
    display: inline-block;
     width: 50%;
     height: 50%;
     
 }
 span:nth-child(1),
 span:nth-child(4){     
     background-color: red;
 }
 h1{
     margin-top: 5vw;
     text-align: center;
 }